{% extends 'layout.twig' %}

{% block body %}
<header>

    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg class="bi bi-chat-square-dots mr-2" width="1em" height="1em" viewBox="0 0 16 16"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 1H2a1 1 0 00-1 1v8a1 1 0 001 1h2.5a2 2 0 011.6.8L8 14.333 9.9 11.8a2 2 0 011.6-.8H14a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v8a2 2 0 002 2h2.5a1 1 0 01.8.4l1.9 2.533a1 1 0 001.6 0l1.9-2.533a1 1 0 01.8-.4H14a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                        clip-rule="evenodd" />
                    <path
                        d="M5 6a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
                <strong>IT-Tchat</strong>
            </a>

        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Gestion des IT-Tchat auxquels vous avez accès</h1>
            <p class="lead text-muted">Ajouter, modifier, supprimer vos IT-Tchat</p>
            <p>
                <button class="btn btn-primary my-2" type="button" id="create-ITTchat-btn">
                    Créer un nouveau tchat
                </button>
                <button class="btn btn-secondary my-2" type="button" id="logout">
                    Se déconnecter
                </button>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                {% for ITTchat in allITTchats %}
                {% if ITTchat.id_owner == user_id or ITTchat.confidentiality == false %}
                {# or user_id in ITTchat.id_users  #}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 id="title-{{ ITTchat._id }}" class="card-text font-weight-bold">
                                {{ ITTchat.title | default('IT-Tchat')}}</h5>
                            {% if ITTchat.confidentiality == 0 %}
                            <p class="text-success" id="confidentiality-{{ ITTchat._id }}">Publique</p>
                            {% else %}
                            <p class="text-danger" id="confidentiality-{{ ITTchat._id }}">Privé</p>
                            {% endif %}
                            <p><span class="users-count">301</span><br> participants</p>
                            <button type="button" class="btn mt-2 mb-2 btn-sm btn-primary"
                                id="join-tchat-{{ ITTchat._id }}">Rejoindre</button>
                            {% if ITTchat.id_owner == user_id %}
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn-group">
                                    <a href='/{{ ITTchat._id }}' type="button"
                                        class="btn btn-sm btn-outline-secondary" id="btn-edit-{{ ITTchat._id }}">
                                        <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                                                clip-rule="evenodd" />
                                            <path fill-rule="evenodd"
                                                d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                    <a href='/{{ ITTchat._id }}' type="button"
                                        class="btn btn-sm btn-outline-danger" id="btn-delete-{{ ITTchat._id }}">
                                        <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                </div>
                                <small class="text-muted">{{i}}</small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {# MODAL - create-ITTchat #}
                <div class="card-body modal" id="create-ITTchat">
                    <div class="modal-content">
                        <span id="close-create-tchat">&times;</span>
                        <h5 class="card-title">Créer un IT-Tchat</h5>
                        <form method="post" id="create-ITTchat-form" action="/">

                            <label class="mt-2 mb-2" for="title">Nom du tchat</label>
                            <input class="mt-2 mb-2" type="text" name="title" placeholder="Nom du tchat" required />

                            <p class="mt-2 mb-2">Confidentialité du tchat</p>
                            <div class="mt-2 mb-2">
                                <input type="radio" id="public" name="confidentiality" value="false" checked>
                                <label for="public">Publique</label>
                                <input type="radio" id="private" name="confidentiality" value="true">
                                <label for="private">Privé</label>
                            </div>

                            <input class="mt-3 mb-2 btn btn-primary" type="submit" value="Créer le tchat" />

                        </form>
                    </div>
                </div>

                {# MODAL - edit-ITTchat #}
                <div class="card-body modal" id="edit-ITTchat">
                    <div class="modal-content">
                        <span id="close-edit-tchat">&times;</span>
                        <h5 class="card-title">Modifier un IT-Tchat</h5>
                        <form method="put" id="edit-ITTchat-form" action="/">

                            <input class="mt-2 mb-2 d-none" id="id-to-edit" type="text" name="id-to-edit" value="" readonly
                                required />

                            <label class="mt-2 mb-2" for="title-to-edit">Nom du tchat</label>
                            <input class="mt-2 mb-2" type="text" name="title-to-edit" id="title-to-edit"
                                placeholder="Nom du tchat" required />

                            <p class="mt-2 mb-2">Confidentialité du tchat</p>
                            <div class="mt-2 mb-2">
                                <input type="radio" id="public-to-edit" name="confidentiality" value="false" checked>
                                <label for="public-to-edit">Publique</label>

                                <input type="radio" id="private-to-edit" name="confidentiality" value="true">
                                <label for="private-to-edit">Privé</label>
                            </div>

                            <input class="mt-3 mb-2 btn btn-primary" type="submit" value="Modifier le tchat" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <h5>Olivier CHARON - Mai 2020</h5>
    </div>
</footer>

{% endblock %}